<%=form_for @sign_up, class: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
    <%= f.submit "Submit", class: 'btn btn-default' %>
<% end %>