<div class="jumbotron">
  <div class="container">
    <h1>Sign up to be a part of the beta and to receive updates!</h1>
  </div>
</div>


<div class="container">
  <%=form_for @sign_up, class: 'form-inline' do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <%= f.submit "Submit", class: 'btn btn-default' %>
  <% end %>
  
    <p> <%= @sign_up_count %> number of people have signed up </p>
  </div>
</div>